<html>
  <head>
    <title>Synonyms</title>
  </head>
  <body>
    <div>
      <form action="/flashcard/synonyms" method="POST">
        Word: <textarea style="width:15em;height:1.5em;font-size:3em;color:maroon" name="word" placeholder="Hello">{{word}}</textarea><br>
        <input style="width:10em;height:3em;font-size:1.5em;" type="submit" value="Get synonyms">
      </form>
      <br><br>
      <textarea style="width:80em;height:3em;font-size:1.5em;" readonly name="synonyms" placeholder="No syns found!!">{{synonyms}}</textarea
    </div>
  </body>
</html>


